<h1>TOPページ</h1>
<%= link_to "投稿一覧", index_todolist_path %>
<%= link_to "新規投稿", 'todolists/new' %>
<%= link_to "キャラクター登録", 'game/new' %>
<%= link_to"キャラクター一覧",'/game' %>
<%= link_to "植物登録",'/grass/new' %>
<%= link_to"登録植物一覧",'/grass' %>
