<h1>編集画面</h1>
<%= form_for(@game, url:"/game/#{@game.id}") do |f| %>
<h4>キャラクター名</h4>
<%= f.text_field :name %>
<h4>武器種</h4>
<%= f.text_field :weapon %>
<h4>属性</h4>
<%= f.text_field :category %>
<h4>詳細</h4>
<%= f.text_area :dateils %>
<%= f.attachment_field :image %>
<%= f.submit "更新" %>
<% end %>
