<h1>登録</h1>
<%= form_for(@grass, url: '/grass') do |f| %>
<h4>名称</h4>
<%= f.text_field :title %>
<h4>英語表記</h4>
<%= f.text_field :english_name %>
<h4>説明</h4>
<%= f.text_area :date %>
<%= f.submit"保存" %>
<% end %>


